@keyframes correct {
    0% { color: green; }
    25% { transform: translate(0, 5px); color: green; }
    50% { transform: translate(0, -3px); color: green; }
    75% { transform: translate(0, 1px); color: green; }
    100% { transform: translate(0, 0); color: green; }
}

@keyframes incorrect {
    0% { color: red; }
    25% { transform: translate(5px, 0); color: red; }
    50% { transform: translate(-3px, 0); color: red; }
    75% { transform: translate(1px, 0); color: red; }
    100% { transform: translate(0, 0); color: red; }
}

#card_container {
    position: absolute;
    overflow: hidden;
    width: 30em;
    height: 20em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#prompt_container {
    text-align: center;
    position: absolute;
    transition: 0.5s;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
}

#answer {
    display: none;
}

#options_container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1em;
    height: 2em;
    display: flex;
    justify-content: space-evenly;
}

.option {
    width: 10em;
    height: 100%;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid;
    cursor: pointer;
    background-color: white;
}